<!DOCTYPE html>
<html>
<head>
    <title>Fatigue Prediction</title>
    <style>
      html{
          background-color: black;

      }

      h1,p,input{
          color: deeppink;
      }
    </style>
</head>
<body>
    <h1>Fatigue Prediction</h1>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {{ messages }}
          {% endif %}
        {% endwith %}
    </p>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input id="jpeg" type="file" name="image" accept="image/jpeg,image/jpg" required>
        <input type="submit" value="Predict">
    </form>
</body>
</html>